### ANSWER TO QUESTION 1:

#### Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd
a=pd.Series([4,8,15,16,23,42])
print(a)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### ANSWER TO QUESTION 2:

####  Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [4]:
l=[1,2,3,4,5,6,7,8,9,10]
print(pd.Series(l))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### ANSWER TO QUESTION 3:

#### Create a Pandas DataFrame that contains the following data:

In [11]:
data={"Name":['alice','bob','charlie'],"Age":[23,30,27],"Gender":["Female","Male","Female"]}
df1=pd.DataFrame(data,columns=["Name","Age","Gender"])
print(df1)

      Name  Age  Gender
0    alice   23  Female
1      bob   30    Male
2  charlie   27  Female

### ANSWER TO QUESTION 3:

####  What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

##### A DataFrame in pandas is a two-dimensional data structure that stores data in rows and columns.
##### A DataFrame can be thought of as a collection of Series, where each Series represents a column of data.

##### A Series, on the other hand, is a one-dimensional data structure that stores a single column of data.

In [13]:
#PANDAS
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'], 
        'Age': [23, 30, 27], 
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df)

      Name  Age  Gender
0    Alice   23  Female
1      Bob   30    Male
2  Charlie   27  Female

In [14]:
#SERIES
name_series = df['Name']
print(name_series)

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

### ANSWER TO QUESTION 4:

#### What are some common functions you can use to manipulate data in a Pandas DataFrame? Can 
#### you give an example of when you might use one of these functions?

##### read_csv(): Reads a CSV file into a DataFrame.

##### to_csv(): Writes a DataFrame to a CSV file.

##### read_html(): Reads HTML tables into a DataFrame.

##### describe(): Generates descriptive statistics for a DataFrame.

##### loc[]: Accesses a group of rows and columns by label.

##### iloc[]: Accesses a group of rows and columns by integer position.

##### drop(): Removes rows or columns from a DataFrame.

##### append(): Adds rows to a DataFrame.

##### dropna(): Removes rows with missing values.

##### fillna(): Replaces missing values with a specified value.

##### groupby(): Groups data by one or more columns and performs operations on each group.

##### T: Transposes a DataFrame (swaps rows and columns).

### ANSWER TO QUESTION 5:

#### Which of the following is mutable in nature Series, DataFrame, Panel?

##### Dataframe Is Mutable In Nature

### ANSWER TO QUESTION 6:

#### Create a DataFrame using multiple Series. Explain with an example.

In [28]:
a=pd.Series([1,2,3],name="A")
b=pd.Series([4,5,6],name='B')
c=pd.Series([7,8,9],name='C')

In [33]:
d=pd.DataFrame({a.name:a,b.name:b,c.name:c})

In [34]:
d

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9